@model MyCarYard.Models.NewRegionModel
@{
    ViewBag.Title = "Suburb Master";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<input type="hidden" id="regionid" />
<div class="wrapper">


    <!-- Left side column. contains the logo and sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <!-- /.box-header -->
                    <div class="box-body">


                        <div class="alert alert-success alert-dismissible" id="myDiv" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-check"></i> Sucessfully!</h4>
                            Suburb Added Successfully
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>

        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">New Suburb</h3>

                    <div class="box-tools pull-right">
                        @*<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Country<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control" style="width: 100%;" id="country" onchange="loadState('0');"></select>
                            </div>
                            <div class="form-group">
                                <label>Select State<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control " style="width: 100%;" id="state" onchange="loadCity(this.value,'0','0');"></select>
                            </div>


                            <div class="form-group">
                                <label>Select City<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control " style="width: 100%;" id="city" onchange="loadSuburb('0');"></select>
                            </div>
                            <div class="form-group">
                                <label for="PlanName">Select Region<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control " style="width: 100%;" id="suburb"></select>
                            </div>
                            <div class="form-group">
                                <label for="PlanName">Suburb<span style="color:red;font-size:large;">*</span></label>
                                <input type="text" class="form-control" id="region" style="width: 100%;" placeholder="Enter Suburb" /> 
                            </div>

                            <div class="form-group">
                                <label>Status<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control select2" style="width: 100%;" id="status">
                                    <option value="">Select Status</option>
                                    <option value="1">Activate</option>
                                    <option value="0">Deactivate</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="save" onclick="SaveReason();">Save Suburb</button>
                    <button type="submit" class="btn btn-primary hidden" id="update" onclick="UpdateReason();">Update</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Suburb List</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-striped" id="example1">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Region</th>
                                        <th>Suburb</th>
                                        <th>Status</th>
                                        <th>View/Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="tblDetails">

                                    @if (Model.newregionlist.Any())
                                    {

                                        int j = 1;
                                        for (int i = 0; i <= Model.newregionlist.Count - 1; i++)
                                        {

                                            <tr>
                                                <td>@j</td>
                                                <td>@Model.newregionlist[i].country</td>
                                                <td>@Model.newregionlist[i].state</td>
                                                <td>@Model.newregionlist[i].city</td>
                                                <td>@Model.newregionlist[i].reason</td>
                                                <td>@Model.newregionlist[i].regionname</td>
                                                <td>@Model.newregionlist[i].status</td>
                                                <td><a href="" onclick="return getData('@Model.newregionlist[i].regionid','@Model.newregionlist[i].reas_id','@Model.newregionlist[i].count_id','@Model.newregionlist[i].state_id','@Model.newregionlist[i].cityid','@Model.newregionlist[i].regionname','@Model.newregionlist[i].status');">Edit</a> </td>
                                                <td><a href="" onclick="return deleteRegion('@Model.newregionlist[i].regionid')"> Delete</a></td>
                                            </tr>
                                            j++;
                                        }
                                    }




                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>

    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->

    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

    function getData(regionid, reasid, countid, stateid, cityid, region, status) {
        $('#status').val(parseInt( status));
        //alert(status);
        $('#suburb').val(reasid);
        $('#regionid').val(regionid);
        $('#region').val(region);       
        $('#country').val(countid);
        loadState(stateid);

        loadCity(stateid, cityid, reasid);
      
        $("html, body").animate({ scrollTop: 0 }, "slow");
        $('#update').removeClass('hidden');
        $('#save').addClass('hidden');

        return false;

    }

</script>

<script>
    function UpdateReason()
    {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '/Admin/UpdateRegion',
            data: "{regionid: '"+ $('#regionid').val() +"',country:'" + $("#country").val() + "',state:'" + $("#state").val() + "',city:'" + $("#city").val() + "',suburb: '" + $("#suburb").val() + "',region: '"+ $('#region').val() +"',status:'" + $("#status").val() + "'}",
            dataType: "json",
            async: false,
            success: function (response) {
                if (response.status == "Success") {

                    lnv.alert({
                        title: '',
                        content: 'Suburb Updated Successfully',
                        alertBtnText: 'Okay',
                        alertHandler: function () {
                            var url = '@Url.Action("NewRegionMaster", "Admin")';
                            window.location = url;
                        }
                    });
                    $('.alert-btn').focus();

                }
            },
            error: function () {
                //  alert("Error");
            }
        });

    }
</script>


<script type="text/javascript">
    function SaveReason() {


        var isvalid = true;
        try {

            var country = $("#country").val();
            var state = $("#state").val();
            var city = $("#city").val();
            var suburb = $('#suburb').val();
            var region = $("#region").val();
            var status = $('#status').val();
            if (country == "" || country == "0" || country == undefined) {

                lnv.alert({
                    title: '',
                    content: 'Please Select Country',
                    alertBtnText: 'Okay',
                    alertHandler: function () {

                        $('#country').focus();

                    }
                });
                $('.alert-btn').focus();
                isvalid = false;

            }else if (state == "" || state == "0" || state == undefined) {

                lnv.alert({
                    title: '',
                    content: 'Please Select State',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#state").focus();
                    }
                });
                $('.alert-btn').focus();
                isvalid = false;
            } else if (city == "" || city == undefined || city == "0") {
                lnv.alert({
                    title: '',
                    content: 'Please Enter City',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#city").focus();
                    }
                });
                $('.alert-btn').focus();
                isvalid = false;
            } else if (suburb == "" || suburb == "0" || suburb == undefined) {

                lnv.alert({
                    title: '',
                    content: 'Please Select Region',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#suburb").focus();
                    }
                });
                $('.alert-btn').focus();
                isvalid = false;
            }
            else if (region.trim() == "" || region == undefined) {

                lnv.alert({
                    title: '',
                    content: 'Please Enter Suburb',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#region").focus();
                    }
                });
                $('.alert-btn').focus();
                isvalid = false;
            }
            else if (status == "" || status == null || status == undefined) {

                lnv.alert({
                    title: '',
                    content: 'Please Select Status',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#status").focus();
                    }
                });
                $('.alert-btn').focus();
                isvalid = false;
            } else {


                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Admin/AddRegion',
                    data: "{country:'" + $("#country").val() + "',state:'" + $("#state").val() + "',city:'" + $("#city").val() + "',suburb: '" + $("#suburb").val() + "',reason: '" + $("#region").val() + "',status:'" + $("#status").val() + "'}",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        if (response.status == "Success") {


                            lnv.alert({
                                title: '',
                                content: 'Suburb Added Successfully',
                                alertBtnText: 'Okay',
                                alertHandler: function () {
                                    var url = '@Url.Action("NewRegionMaster", "Admin")';
                                    window.location = url;
                                }
                            });
                            $('.alert-btn').focus();
                        }
                    },
                    error: function () {
                        //  alert("Error");
                    }
                });
            }
        } catch (e) {

            isvalid = false;
        }
        return isvalid;
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        loadCountry();
    });

    function loadCountry() {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //url is the path of our web method (Page name/function name)
            dataType: "json",
            url: '/Home/GetCountry',
            asyn: false,
            cache: false,
            //called on jquery ajax call success
            success: function (result) {
                $("#country").empty();
                $("#country").append($("<option></option>").val("0").html("Select Country"));
                for (var i = 0; i <= result.countrylist.length - 1 ; i++) {
                    if (result.countrylist[i].status == 1) {
                        $("#country").append($("<option></option>").val(result.countrylist[i].count_id).html(result.countrylist[i].countryname));
                    }
                }
            },
            //called on jquery ajax call failure
            error: function ajaxError(result) {
                $("#country").empty();
                $("#country").append($("<option></option>").val("0").html("Select Country"));

            }
        });
    }
</script>


<script type="text/javascript">
    function loadState(stateid) {
        var count_id = $('#country option:selected').val();
        //  alert(count_id);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //url is the path of our web method (Page name/function name)
            dataType: "json",
            data: "{ count_id: '" + $("#country").val() + "' }",
            url: '/Home/GetState',
            asyn: false,
            cache: false,
            //called on jquery ajax call success
            success: function (result) {
                $('#state').empty();
                $("#state").append($("<option></option>").val("0").html("Select State"));
                for (var i = 0; i <= result.statelist.length -1 ; i++) {
                    if (result.statelist[i].status == 1) {
                        if (result.statelist[i].state_id == stateid) {

                            $("#state").append($("<option selected></option>").val(result.statelist[i].state_id).html(result.statelist[i].state));

                        } else {
                            $("#state").append($("<option></option>").val(result.statelist[i].state_id).html(result.statelist[i].state));
                        }
                    }
                }
            },
            //called on jquery ajax call failure
            error: function ajaxError(result) {
                $('#state').empty();
                $("#state").append($("<option></option>").val("0").html("Select State"));

            }
        });
    }
</script>
<script type="text/javascript">
    function loadCity(stateid,cityid,suburbid) {
       // var make = $('#make option:selected').val();
        //  alert(count_id);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //url is the path of our web method (Page name/function name)
            dataType: "json",
            data: "{ country: '" + $("#country").val() + "',state:'" + stateid + "' }",
            url: '/Admin/LoadCity',
            asyn: false,
            cache: false,
            //called on jquery ajax call success
            success: function (result) {
                $('#city').empty();
                $("#city").append($("<option></option>").val("0").html("Select City"));
               // $("#city").append($("<option>Select City</option>"));
                for (var i = 0; i <= result.citylist.length -1 ; i++) {
                    if (result.citylist[i].status == 1) {
                        if (result.citylist[i].city_id == cityid) {

                            $("#city").append($("<option selected></option>").val(result.citylist[i].city_id).html(result.citylist[i].city));
                            loadSuburb(suburbid);
                        } else {
                            $("#city").append($("<option></option>").val(result.citylist[i].city_id).html(result.citylist[i].city));
                        }
                    }
                }
            },
            //called on jquery ajax call failure
            error: function ajaxError(result) {
                $('#city').empty();
                $("#city").append($("<option></option>").val("0").html("Select City"));

            }
        });
    }
</script>

<script type="text/javascript">
    function loadSuburb(suburbid) {
       // var make = $('#make option:selected').val();
      
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //url is the path of our web method (Page name/function name)
            dataType: "json",
            data: "{ country: '" + $("#country").val() + "',state:'" + $('#state').val() + "',city: '"+ $('#city').val() +"' }",
            url: '/Admin/Loadsuburb',
            asyn: false,
            cache: false,
            //called on jquery ajax call success
            success: function (result) {
                $('#suburb').empty();
                $("#suburb").append($("<option></option>").val("0").html("Select Suburb"));
               // $("#city").append($("<option>Select City</option>"));
                for (var i = 0; i <= result.suburblist.length - 1 ; i++) {
                    if (result.suburblist[i].status == 1) {
                        if (result.suburblist[i].reas_id == suburbid) {

                            $("#suburb").append($("<option selected></option>").val(result.suburblist[i].reas_id).html(result.suburblist[i].reason));

                        } else {
                            $("#suburb").append($("<option></option>").val(result.suburblist[i].reas_id).html(result.suburblist[i].reason));
                        }
                    }
                }
            },
            //called on jquery ajax call failure
            error: function ajaxError(result) {
                $('#suburb').empty();
                $("#suburb").append($("<option></option>").val("0").html("Select Suburb"));

            }
        });
    }
</script>

<script>

    function deleteRegion(id) {

            lnv.confirm({
                title: 'Confirm',
                content: 'Are You sure you want to Delete Suburb ?',
                confirmHandler: function () {
                    // confirm callback
        
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Admin/DeleteRegion',
                data: "{regionid: '" + id + "'}",
                dataType: "json",
                async: false,
                success: function (response) {
                    if (response.status == "Success") {

                        lnv.alert({
                            title: '',
                            content: 'Plan Deleted Successfully',
                            alertBtnText: 'Okay',
                            alertHandler: function () {
                                var url = '@Url.Action("NewRegionMaster", "Admin")';
                                window.location = url;
                            }
                        });
                        $('.alert-btn').focus();
                    }
                },
                error: function () {
                    //  alert("Error");
                }
            });
                },
                cancelHandler: function () {
                    // cancel callback
                }
            })
        return false;
    }
</script>


