@model MyCarYard.Models.ReasonModel
@{
    ViewBag.Title = "Region Master";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}


<input type="hidden" id="regionid" />
<div class="wrapper">


    <!-- Left side column. contains the logo and sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <!-- /.box-header -->
                    <div class="box-body">


                        <div class="alert alert-success alert-dismissible" id="myDiv" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-check"></i> Sucessfully!</h4>
                            Region Added Successfully
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>

        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">New Region</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                       @* <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Country<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control" style="width: 100%;" id="country" onchange="loadState('0');">
                                   

                                </select>
                            </div>
                            <div class="form-group">
                                <label>Select State<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control " style="width: 100%;" id="state" onchange="loadCity(this.value,'0');">
                                    

                                </select>
                            </div>


                            <div class="form-group">
                                <label>Select City<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control " style="width: 100%;" id="city">
                                   

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="PlanName">Enter Region<span style="color:red;font-size:large;">*</span></label>
                                <input type="text" class="form-control" id="reason" placeholder="Enter Region" value="">
                            </div>
                            <div class="form-group">
                                <label>Status<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control select2" style="width: 100%;" id="status">
                                    <option value="">Select Status</option>
                                    <option value="1">Activate</option>
                                    <option value="0">Deactivate</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="save" onclick="SaveReason();">Save Region</button>
                    <button type="submit" class="btn btn-primary hidden" id="update" onclick="UpdateReason();" >Update Region</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Region List</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-striped" id="example1">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Region</th>
                                        <th>Status</th>
                                        <th>View/Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="tblDetails">
                                                                        
          @if (Model.reasonlist.Any())
        {

            int j = 1;
            for (int i = 0; i <= Model.reasonlist.Count - 1; i++)
            {

                <tr>
                    <td>@j</td>
                    <td>@Model.reasonlist[i].country</td>
                    <td>@Model.reasonlist[i].state</td>
                    <td>@Model.reasonlist[i].city</td>
                    <td>@Model.reasonlist[i].reason</td>
                    <td>@Model.reasonlist[i].status</td>
                    <td><a href="" onclick="return getData('@Model.reasonlist[i].reas_id','@Model.reasonlist[i].count_id','@Model.reasonlist[i].state_id','@Model.reasonlist[i].cityid','@Model.reasonlist[i].reason','@Model.reasonlist[i].status');">Edit</a> </td>
                    <td><a href="" onclick="return deleteSuburb('@Model.reasonlist[i].reas_id')"> Delete</a></td>
                </tr>
                j++;
            }
        }
                                                                    



                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>

    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->

    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

    function getData(reasid, countid, stateid, cityid, region, status) {

        $('#regionid').val(reasid);
        $('#reason').val(region);
        $('#status').val(status);
        $('#country').val(countid);
        loadState(stateid);
        loadCity(stateid, cityid);

        $("html, body").animate({ scrollTop: 0 }, "slow");
        $('#update').removeClass('hidden');
        $('#save').addClass('hidden');

        return false;

    }

</script>

<script>
    function UpdateReason()
    {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '/Admin/UpdateReason',
            data: "{regionid: '"+ $('#regionid').val() +"',country:'" + $("#country").val() + "',state:'" + $("#state").val() + "',city:'" + $("#city").val() + "',reason: '" + $("#reason").val() + "',status:'" + $("#status").val() + "'}",
            dataType: "json",
            async: false,
            success: function (response) {
                if (response.status == "Success") {
                    lnv.alert({
                        title: '',
                        content: 'Region Updated Successfully',
                        alertBtnText: 'Okay',
                        alertHandler: function () {
                    var url = '@Url.Action("ReasonMaster", "Admin")';
                    window.location = url;

                        }
                    })

                }
            },
            error: function () {
                //  alert("Error");
            }
        });

    }
</script>


<script type="text/javascript">
    function SaveReason() {

        var isvalid = true;
        try {

            var country = $("#country").val();
            var state = $("#state").val();
            var city = $("#city").val();
            var region = $("#reason").val();
            var status = $('#status').val();
            if (country == "" || country == "0" || country == undefined) {

                lnv.alert({
                            title: '',
                            content: 'Please Select Country',
                            alertBtnText: 'Okay',
                            alertHandler: function () {
                              
                                $('#country').focus();

                            }
                        })
                isvalid = false;

            }else if (state == "" || state == "0" || state == undefined) {

                lnv.alert({
                    title: '',
                    content: 'Please Select State',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#state").focus();
                    }
                })
                isvalid = false;
            } else if (city == "" || city == undefined || city == "0") {
                lnv.alert({
                    title: '',
                    content: 'Please Select City',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#city").focus();
                    }
                })

                isvalid = false;
            } else if (region.trim() == "" || region == undefined) {
            
                lnv.alert({
                    title: '',
                    content: 'Please Enter Region',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#reason").focus();
                    }
                })
                isvalid = false;
            }
            else if (status == "" || status == null || status == undefined) {

                lnv.alert({
                    title: '',
                    content: 'Please Select Status',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $("#status").focus();
                    }
                })

                isvalid = false;
            } else {


                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Admin/AddReason',
                    data: "{country:'" + $("#country").val() + "',state:'" + $("#state").val() + "',city:'" + $("#city").val() + "',reason: '" + $("#reason").val() + "',status:'" + $("#status").val() + "'}",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        if (response.status == "Success") {
                            lnv.alert({
                                title: '',
                                content: 'Region Added Successfully',
                                alertBtnText: 'Okay',
                                alertHandler: function () {
                                    var url = '@Url.Action("ReasonMaster", "Admin")';
                                    window.location = url;

                                }
                            })

                        }
                    },
                    error: function () {
                        //  alert("Error");
                    }
                });
            }
        } catch (e) {

            isvalid   =false;
        }
        return isvalid;
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        loadCountry();
    });

    function loadCountry() {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //url is the path of our web method (Page name/function name)
            dataType: "json",
            url: '/Home/GetCountry',
            asyn: false,
            cache: false,
            //called on jquery ajax call success
            success: function (result) {
                $("#country").empty();
                $("#country").append($("<option></option>").val("0").html("Select Country"));
                for (var i = 0; i <= result.countrylist.length - 1 ; i++) {
                    if (result.countrylist[i].status == 1) {
                        $("#country").append($("<option></option>").val(result.countrylist[i].count_id).html(result.countrylist[i].countryname));
                    }
                }
            },
            //called on jquery ajax call failure
            error: function ajaxError(result) {
                $("#country").empty();
                $("#country").append($("<option></option>").val("0").html("Select Country"));

            }
        });
    }
</script>


<script type="text/javascript">
    function loadState(stateid) {
        var count_id = $('#country option:selected').val();
        //  alert(count_id);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //url is the path of our web method (Page name/function name)
            dataType: "json",
            data: "{ count_id: '" + $("#country").val() + "' }",
            url: '/Home/GetState',
            asyn: false,
            cache: false,
            //called on jquery ajax call success
            success: function (result) {
                $('#state').empty();
                $("#state").append($("<option></option>").val("0").html("Select State"));
                for (var i = 0; i <= result.statelist.length -1 ; i++) {
                    if (result.statelist[i].status == 1) {
                        if (result.statelist[i].state_id == stateid) {

                            $("#state").append($("<option selected></option>").val(result.statelist[i].state_id).html(result.statelist[i].state));

                        } else {
                            $("#state").append($("<option></option>").val(result.statelist[i].state_id).html(result.statelist[i].state));
                        }
                    }
                }
            },
            //called on jquery ajax call failure
            error: function ajaxError(result) {
                $('#state').empty();
                $("#state").append($("<option></option>").val("0").html("Select State"));
            }
        });
    }
</script>
<script type="text/javascript">
    function loadCity(stateid,cityid) {
       // var make = $('#make option:selected').val();
        //  alert(count_id);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //url is the path of our web method (Page name/function name)
            dataType: "json",
            data: "{ country: '" + $("#country").val() + "',state:'" + stateid + "' }",
            url: '/Admin/LoadCity',
            asyn: false,
            cache: false,
            //called on jquery ajax call success
            success: function (result) {
                $('#city').empty();
                $("#city").append($("<option></option>").val("0").html("Select City"));
               // $("#city").append($("<option>Select City</option>"));
                for (var i = 0; i <= result.citylist.length - 1 ; i++) {
                    if (result.citylist[i].status == 1) {
                        if (result.citylist[i].city_id == cityid) {

                            $("#city").append($("<option selected></option>").val(result.citylist[i].city_id).html(result.citylist[i].city));

                        } else {
                            $("#city").append($("<option></option>").val(result.citylist[i].city_id).html(result.citylist[i].city));
                        }
                    }
                }
            },
            //called on jquery ajax call failure
            error: function ajaxError(result) {
                $('#city').empty();
                $("#city").append($("<option></option>").val("0").html("Select City"));
            }
        });
    }
</script>
<script>

    function deleteSuburb(id) {
        lnv.confirm({
            title: 'Confirm',
            content: 'Are you sure to delete Region?',
            confirmHandler: function () {
                // confirm callback
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Admin/DeleteReason',
                    data: "{reas_id:'" + id + "'}",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        if (response.status == "Success") {

                            lnv.alert({
                                title: '',
                                content: 'Region Deleted Successfully',
                                alertBtnText: 'Okay',
                                alertHandler: function () {
                            var url = '@Url.Action("ReasonMaster", "Admin")';
                            window.location = url;
                                }
                            })


                        }
                    },
                    error: function () {
                        //  alert("Error");
                    }
                });

            },
            cancelHandler: function () {
                // cancel callback
            }
        })

        return false;
    }
</script>


