@model MyCarYard.Models.EventCategoryModel
@{
    ViewBag.Title = "EventCatMaster";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<input type="hidden" id="eventcatid" />
<div class="wrapper">


    <!-- Left side column. contains the logo and sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="alert alert-success alert-dismissible" id="myDiv" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-check"></i> Sucessfully!</h4>
                            Category Added Successfully
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>

        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">New Category</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">





                            <div class="form-group">
                                <label for="PlanName">Enter Category<span style="color:red;font-size:large;">*</span></label>
                                <input type="text" class="form-control" id="category" placeholder="Enter Category" value="">

                            </div>





                            <div class="form-group">
                                <label>Status<span style="color:red;font-size:large;">*</span></label>
                                <select class="form-control select2" style="width: 100%;" id="status">
                                    <option value="">Select Status</option>
                                    <option value="1">Activate</option>
                                    <option value="0">Deactivate</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="save" onclick="SaveCategory();">Save Event Category</button>
                    <button type="submit" class="btn btn-primary hidden" id="update" onclick="UpdateCategory();" >Update</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Category List</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-striped" id="example1">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Category</th>

                                        <th>Status</th>
                                        <th>View/Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="tblDetails">

                                    @if (Model.categorylist.Any())
                                    {

                                        int j = 1;
                                        for (int i = 0; i <= Model.categorylist.Count - 1; i++)
                                        {

                                            <tr>
                                                <td>@j</td>
                                                <td>@Model.categorylist[i].category</td>
                                                <td>@Model.categorylist[i].status</td>
                                                <td><a href="" onclick="return getData('@Model.categorylist[i].ecat_id','@Model.categorylist[i].category','@Model.categorylist[i].status')">Edit</a> </td>
                                                <td><a href="" onclick="return deleteEventCat('@Model.categorylist[i].ecat_id')"> Delete</a></td>
                                            </tr>
                                            j++;
                                        }
                                    }



                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>

    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->

    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

    function getData(catid,catname,status) {

        $('#eventcatid').val(catid);
        $('#category').val(catname);
        $('#status').val(status);
        $("html, body").animate({ scrollTop: 0 }, "slow");
        $('#update').removeClass('hidden');
        $('#save').addClass('hidden');
        return false;
        
    }

</script>
<script>

    function UpdateCategory() {

        var eventcatid = $('#eventcatid').val();
        var obj = {"catid": eventcatid ,"category": $("#category").val() ,"status": $("#status").val() };
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '/Admin/UpdateCategory',
            data: JSON.stringify(obj),
            dataType: "json",
            async: false,
            success: function (response) {
                if (response.status == "Success") {


                    lnv.alert({
                        title: ' ',
                        content: 'Event Category Updated Successfully',
                        alertBtnText: 'Okay',
                        alertHandler: function () {
                            var url = '@Url.Action("EventCatMaster", "Home")';
                            window.location = url;
                        }
                    });
                    $('.alert-btn').focus();
                

                }
            },
            error: function () {
                //alert("Error");
            }
        });
    }

</script>
<script type="text/javascript">
    function SaveCategory() {
        
        try {
            var isvalid = true;
            var category = $("#category").val();
            var status = $("#status").val();
            if (category == "" || category == undefined) {

                /*lnv.alert({
                    title: '',
                    content: 'Please Enter Event Category',
                    alertBtnText: 'Okay',
                    alertHandler: function () {
                        $('#category').focus();
                    }
                })*/
                $('#category').css('border-color', 'red');
                isvalid = false;

            } else {
                $('#category').css('border-color', '');

                isvalid = true;
            }
            if (status == "" || status == "0" || status == undefined) {

                /* lnv.alert({
                     title: '',
                     content: 'Please Select Status',
                     alertBtnText: 'Okay',
                     alertHandler: function () {
                         $('#status').focus();
                     }
                 })*/
                $('#status').css('border-color', 'red');
                isvalid = false;
            } else {
                $('#status').css('border-color', 'red');
                isvalid = true;
            }
            if (isvalid == true) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Admin/AddCategory',
                    data: "{ category: '" + $("#category").val() + "',status:'" + $("#status").val() + "'}",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        if (response.status == "Success") {
                            lnv.alert({
                                title: ' ',
                                content: 'Event Category Added Successfully',
                                alertBtnText: 'Okay',
                                alertHandler: function () {
                                    var url = '@Url.Action("EventCatMaster", "Home")';
                                    window.location = url;
                                }
                            });
                            $('.alert-btn').focus();
                        }
                    },
                    error: function () {
                        //alert("Error");
                    }
                });
            } else {

                lnv.alert({
                    title: ' ',
                    content: 'Please fill all missing fields',
                    alertBtnText: 'Okay',
                    alertHandler: function () {

                    }
                });
                $('.alert-btn').focus();
            }
        } catch (e) {

        }
    }
</script>


<script>

    function deleteEventCat(id) {

        lnv.confirm({
            title: 'Confirm',
            content: 'Are You sure you want to delete Event Category ?',
            confirmHandler: function () {
                // confirm callback
        

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Admin/DeleteCategory',
                data: "{catid: '" + id + "'}",
                dataType: "json",
                async: false,
                success: function (response) {
                    if (response.status == "Success") {

                        lnv.alert({
                            title: ' ',
                            content: 'Event Category Deleted Successfully',
                            alertBtnText: 'Okay',
                            alertHandler: function () {
                                var url = '@Url.Action("EventCatMaster", "Home")';
                                window.location = url;
                            }
                        });
                        $('.alert-btn').focus();
                    }
                },
                error: function () {
                   // alert("Error");
                }
            });

            },
            cancelHandler: function () {
                // cancel callback
            }
        })
        return false;
    }
</script>
