@model MyCarYard.Models.RegisterViewModel
@{
    ViewBag.Title = "AddCar";
    Layout = "~/Views/Shared/_LayoutOuterUser.cshtml";
}
<div class="col-sm-7">
    <div class="map_contain">
        <ul class="nav nav-tabs">
            
            
            <div class="top_select">
                <ul>
                    <li>
                        <select class="top_selecefld">
                            <option>Sort by</option>
                            <option>Recent Ads (Default)</option>
                            <option>Price (High to Low)</option>
                            <option>Price (Low to High)</option>
                            <option>Last update</option>
                            <option>Distance</option>
                        </select>
                    </li>

                </ul>
            </div>
        </ul>
        <div class="tab-content">
            <div id="dealers" class="tab-pane fade in active">
                @if (Model.carlist.Any())
                {

                    for (int i = 0; i <= Model.carlist.Count - 1; i++)
                    {
                        <div class="detail_head">
                            <h4 class="detail_heading">@Model.carlist[i].year @Model.carlist[i].make @Model.carlist[i].model  @Model.carlist[i].badge </h4>
                            <div class="detail_bar">
                                <ul>
                                    <li><a href="#">@Model.carlist[i].currency @(Convert.ToInt32(Model.carlist[i].price).ToString("#,##0"))</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#msg_modal"><i class="fa fa-envelope-o"></i></a></li>
                                    @if (Model.carlist[i].showphone == 1)
                                    {
                                        <li><a href="#" data-toggle="modal" data-target="#mobile_modal" onclick="ShowContact('@Model.carlist[i].cno','@Model.carlist[i].orgname')"><i class="fa fa-phone"></i></a></li>
                                    }

                                    <li><div class="fb-share-button" data-href="http://mycaryard.mobi96.org/Home/CarDetails?cid=@Model.carlist[i].cid" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://mycaryard.mobi96.org/Home/CarDetails?cid=@Model.carlist[i].cid&amp;src=sdkpreparse">Share</a></div></li>
                                  
                                   

                                    <li><a href="javascript:void()" onclick="return setWatchlist('@Model.carlist[i].cid');" class="star_button @(Model.carlist[i].star.Equals(1) ? Html.Raw("goldn") : null)" title="Watch"><i class="fa fa-star"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="describe_contain">
                            <div class="listing_slider">
                                <div class="car_detail">
                                    <div class="item"> <img src="@Url.Content("~/images/cars/"+@Model.carlist[i].img)" style="width:183px;"></div>
                                    <div class="item"> <img src="@Url.Content("~/images/cars/"+@Model.carlist[i].img1)" style="width:183px;"></div>
                                    <div class="item"> <img src="@Url.Content("~/images/cars/"+@Model.carlist[i].img2)" style="width:183px;"></div>
                                    <div class="item"> <img src="@Url.Content("~/images/cars/"+@Model.carlist[i].img3)" style="width:183px;"></div>
                                    <div class="item"> <img src="@Url.Content("~/images/cars/"+@Model.carlist[i].img4)" style="width:183px;"></div>
                                    <div class="item"> <img src="@Url.Content("~/images/cars/"+@Model.carlist[i].img5)" style="width:183px;"></div>
                                </div>
                            </div>
                            <div class="listing_detail">
                                <div class="item_detail">
                                    <ul>
                                        <li>Transmission: <span>  @Model.carlist[i].speedtype  @Model.carlist[i].tranmition</span></li>
                                        <li>Engine: <span> @Model.carlist[i].cylinder_name  @Model.carlist[i].engine </span></li>

                                        <li>KM : <span> @(Convert.ToInt32(Model.carlist[i].meter).ToString("#,##0")) @Model.carlist[i].matrics</span></li>

                                        <li>Body Type : <span> @Model.carlist[i].body_type </span></li>
                                    </ul>
                                </div>
                                <div class="listing_btm">
                                    <ul>
                                        @{

                                            TimeSpan diff = DateTime.Now.Date - Convert.ToDateTime(Model.carlist[i].created_date);
                                            var totatdays = diff.TotalDays;
                                        }
                                        <li><a href="#"><i class="fa fa-clock-o"></i> @(Convert.ToInt32(totatdays)) Day Ago</a></li>
                                        <li><a href="#"><i class="fa fa-map-marker"></i>@Model.carlist[i].city , @Model.carlist[i].state, @Model.carlist[i].zipcode , @Model.carlist[i].country</a></li>
                                        <li><a href="@Url.Action("UserCarDetails", "Home")?cid=@Model.carlist[i].cid" class="fuel_btn">Full Details</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                                                }
                                            }

            </div>
            <!--------end delears----------->
            
        </div>
        <div class="map_btn">
            <a class="cmn_btn" href="@Url.Action("UserIndex","Home")">Maps</a>
            <a class="cmn_btn second_btn" href="@Url.Action("UserCarMaster","Home")">Listing</a>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

    function setWatchlist(cid) {
       
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Home/UpdateWatchlistStatus',
                    data: "{cid: '" + cid + "'}",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        if (response.status == "Success") {

                          

                                    $('.star_button').toggleClass('goldn');

                                

                        }
                    },
                    error: function (response) {

                        alert(response.status);
                    }
                });
           


        return false;
    }


</script>

<script>

    function ShowContact(cno, orgname) {

        $('#conorgname').val(orgname);
        $('#concno').val(cno);
    }

</script>